
node_modules/
.env
uploads/users/**.jpg
uploads/users/**.png
uploads/users/**.jpeg
uploads/users/**.gif
uploads/users/**.svg
uploads/users/**.webp
uploads/users/**.tiff
uploads/users/**.bmp

uploads/products/**.jpg
uploads/products/**.png
uploads/products/**.jpeg
uploads/products/**.gif
uploads/products/**.svg
uploads/products/**.webp
uploads/products/**.tiff
uploads/products/**.bmp

uploads/categories/**.jpg
uploads/categories/**.png
uploads/categories/**.jpeg
uploads/categories/**.gif
uploads/categories/**.svg
uploads/categories/**.webp
uploads/categories/**.tiff
uploads/categories/**.bmp

uploads/stores/**.jpg
uploads/stores/**.png
uploads/stores/**.jpeg
uploads/stores/**.gif
uploads/stores/**.svg
uploads/stores/**.webp
uploads/stores/**.tiff
uploads/stores/**.bmp

uploads/employees/**.jpg
uploads/employees/**.png
uploads/employees/**.jpeg
uploads/employees/**.gif
uploads/employees/**.svg
uploads/employees/**.webp
uploads/employees/**.tiff
uploads/employees/**.bmp